<div id="cta">
<p>
    Last week, the Maryland General Assembly passed SB340 which would change the law so that people can vote immediately once they are released from prison. This law would restore the vote to nearly 39,000 Marylanders. Now the bill is on Republican Governor Larry Hogan's desk to sign.
</p>

<p>
    Denying released prisoners the right to vote compounds the disproportionate impact of the criminal justice system on Black communities. <b>In Maryland, Black people make up 30% of the population but 65% of those denied the right to vote because of a felony conviction.</b>
</p>

<p>
    Governor Hogan needs to know that voters are watching as he decides whether to sign this bill. Take a moment to call him so he thinks twice about trying to veto. Together we can expand the freedom to vote in Maryland! 
</p>

<p>When you call, they might ask for your name and address to confirm you’re a Maryland resident. </p>
<p>Here’s script you can read or use your own words:</p>
<ul>
<li>I’m a ColorOfChange member and I urge Governor Hogan to sign Senate Bill 340</li>
<li>In Maryland, Black people make up 30% of the population but 65% of those disenfranchised by previous convictions.</li>
<li>Denying released prisoners the right to vote compounds the disproportionate impact of the criminal justice system on Black communities.</li>
<li>Voters are watching to see if the Governor signs this bill.</li>
</ul>

</div>